<div class="container-fluid">
  <!-- Column 1 -->
  <div class="col-sm-4">
    <a href="#"><%= image_tag("issue_1.jpg", class:"img-responsive") %></a>
    <div class="column_1_content">
      <p class="issue_header">Issue One</p>
      <p class="text-justify">
        Table of Contents: Technology and the Box, Padma Maitland; Little Boxes: High-Tech and the Silicon Valley, Margaret Crawford;  A Container and Its Contents: Re-Reading Tomás Maldonado’s Design, Nature, and Revolution: Toward a Critical Ecology (1970, trans. 1972), Simon Sadler;  Public, Private, Protected: Encapsulation and the Disempowerment of the Digital Architect; Kyle Steinfeld;  The Seduction of the Glass Box, Katie Ackerly;  Eiffel’s Apartment and the Architecture of Dreams, Gina Greene;  Averaging Mies, Ajay Manthripragada;  Transitional Objects: The Postwar Werkbund and the Design of New, West-German Subjects (1948-1968); Sasha Rossman;  The Fine Art of the Art Crate, Joey Enos;  A New Architecture for Man: The Modular, Prefabricated Buildings of Ernest J. Kump, Jr, Elaine Stiles;  Sun Valley, Brian Knecht;  Photography: IT House and Suberb-A House, Art Gray;  Considering Prefabulous and Almost Off the Grid, Lotus Grenier and Zoe Beba
      </p>

    </div>
  </div>
  <!-- Column 2 -->
  <div class="col-sm-4">
    <a href="#"><%= image_tag("issue_2.jpeg", class:"img-responsive") %></a>
    <p class="issue_header">Issue Two</p>
    <p class="text-justify">
      Table of Contents: Souvenir Nostalgia, Padma Maitland;  Landscapes and Ladles, Marta Figlerowicz; House 103, Kathleen James-Chakraborty; Reading a Drawer, Susan Stewart; Environmental Autobiography, Clare Cooper Marcus; A Reverse History of Modernism, Martina Hrabova; Into the Plan, Through the Door, Katarina Burin; Berlin Derive, Nathan John; Fear and Bernard of Clairvaux’s Living Stones, Jason Crow; A Rainy Day in Late Spring at the Cistercian Monastery of Nový Dvůr, Dobrá Voda, John Flaherty; Sixty Panes of Faith, Duo Dickinson; Petropolises, Neeraj Bhatia and Thomas Murdoch; A World of Play, Robert Vale and Lauren McQuistion; Reflections on a Drawing, Phoebe Crisman; The Macro-Phenomenal, Jason Young; ; The Miniature Monuments of ACE Architects, Kevin Block
    </p>
  </div>
  <!-- Column 3 -->
  <div class="col-sm-4">
    <a href="#"><%= image_tag("issue_3.png", class:"img-responsive") %></a>
    <p class="issue_header">Issue Two</p>
    <p class="text-justify">
      Table of Contents: Urban Pilgrimage, An Introduction Lawrence Yang and Padma Maitland
    </p>
    <p class="text-justify">
      Routes: Losing My Religion in Oaxaca, Andrew Shanken; Water’s Pilgrimage in Rome, Katherine Rinne with illustrations by Rebecca Sunter; De Vieux-Montréal à Kahnawa:ké, Sara Terreault & Matthew Anderson; From the Fields to the City Gates, Martin Locker; GeoGuessr’s Digital Pilgrimages, Marta Figlerowicz; City of One Thousand Temples, Emma Natalya Stein; Diary of a Failed Pilgrim June 2014, Beverly Crawford.
    </p>
    <p class="text-justify">
      Temporary Urbanism: Temporary Flows & Ephemeral Cities, Felipe Vera & Rahul Mehrotra; A Fistful of Barley, John Soriano; Sites of Representation, Kimberly Richards; Urban Place Making/Performing Rural Memories, Annie Malcolm with illustrations by Lauren Matthews; Kingship, Buddhism and the Forging of a Region, Jason Hawkes; Blacksmith Caravans on the Move, Sachin Bandukwala and Melissa Smith; Concrete’s Many Fair-Faces, Sarah Briggs Ramsey.
    </p>
    <p class="text-justify">
      The Traveled Voice: In Demonstration, Lyn Hejinian; The Rhetoric of Return, Ragini Srinivasan; Journey to Juazeiro, Candace Slater; Art, Cinema, and Life Outside the Imperial Ring, Megan Hoetger; Nearing Nanjing, 1938, Evelyn Shih; Ziyaretler, Angela Andersen; Review of Colourless Tsukuru Tazaki and His Years of Pilgrimage, Tiffany Hong; Dense Ecologies / City and Bay, Nicholas de Monchaux et al.
    </p>
  </div>


</div>
