<div class="container-fluid">
  <div id="mission_left">
    <%= image_tag("mission_statement.jpg", class:"img-responsive", id:"mission_statement_img") %>
  </div>
  <div id="mission_right" class="text-justify">
    <p>
      <em>There is a room located at the very top of Wurster Hall. From this room, one can see out over Berkeley, beyond the campus, past the Bay and San Francisco, and through the suspended cables of the Golden Gate Bridge to the Pacific and beyond . . .</em>
    </p>
    <p></p>
    <p>
      <strong>Room One Thousand</strong> acts as an observatory of our time, viewing and linking architecture, the city, the landscape, and the many ideas, processes, institutions, and people that help shape them.
    </p>
    <p>
      <strong>Room One Thousand</strong> is as engaged with what architecture can offer other disciplines, as with what other fields can offer the study of architecture. Open and eclectic, the journal spans the larger panorama of the humanities and the sciences, by engaging both professionals and scholars in the study of architecture and the built environment.
    </p>
    <p>
      <strong>Room One Thousand</strong> aspires to gather a community around discourses of architecture, to see what vast new vistas may be revealed.
    </p>
  </div>
</div>
